
$primary-color: #ffcc00;
$secondary-color: #333;
$background-color: #f9f9f9;
$border-radius: 8px;
$padding: 16px;
$font-family: 'Arial', sans-serif;

body {
    font-family: $font-family;
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #ffffff;
    padding: $padding;
    border-radius: $border-radius;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h1 {
    text-align: center;
    color: $secondary-color;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    color: $secondary-color;
    margin-bottom: 8px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="text"]:focus {
    outline: none;
    border-color: $primary-color;
    box-shadow: 0 0 5px rgba($primary-color, 0.5);
}

button {
    width: 100%;
    padding: 12px;
    background-color: $primary-color;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.add{
    background-color: darkgreen;
}

button:hover {
    background-color: darken($primary-color, 10%);
}

.btn-cancel {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d32f2f;  
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: 90%;

    &:hover {
        background-color: #d32f2f; 
    }
}
